@model ApplicationLayer.Dtos.ProductCategoryDtos.Detail_ProductCategoryDetailDto;
@Model.Id
@Model.Title
@Model.Description
<br />
<a asp-controller="productcategory" asp-action="Index" class="btn btn-primary">Back</a>