@model ApplicationLayer.Dtos.ProductDtos.Create_ProductDto


<form asp-controller="Product" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" >
    </div>
    <br />
    <div class="form-group">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" class="form-control">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>